@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

:root {
  $bg-dark: #050019;
  font-family: "Didact Gothic", sans-serif;
  color: #fff;
  background-color: $bg-dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

// ripple and candle flame color
// $purple: #1942f9;
$orange: rgb(230, 42, 4);
$ripple-bg: #08081a;

// || ANIMATIONS

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($orange, 0.08), 0 0 0 40px rgba($orange, 0.08),
      0 0 0 60px rgba($orange, 0.08), 0 0 0 80px rgba($orange, 0.08);
  }
  100% {
    box-shadow: 0 0 0 40px rgba($orange, 0.08), 0 0 0 60px rgba($orange, 0.08),
      0 0 0 80px rgba($orange, 0.08), 0 0 0 100px rgba($orange, 0);
  }
}

@keyframes fadeIn-Out {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heptagram {
  50% {
    background-image: url("../../assets/heptagram-grey.png");
    background-repeat: no-repeat;
    background-size: 670px;
    background-position-x: center;
    background-position-y: 7px;
  }
  100% {
    background-image: none;
  }
}

// GLOBAL STYLES

img {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h2 {
  font-size: 2rem;
}

button {
  outline-color: transparent;
}

.ripple {
  opacity: 0;
  min-height: 700px;
  width: 100%;
  border-radius: 50%;
  animation: ripple 1.5s linear infinite;
  // animation: heptagram 6s ease-in;
  filter: blur(4px);
  background-color: $ripple-bg;
  // #0a0a1e
  // border: solid 1px #ffffff5f;
  position: absolute;
  z-index: -1;
  transition: opacity 2.2s;
}

.ceremonyContainer {
  // border: solid 1px lightblue;
  min-height: 700px;
  position: relative;
  width: 100%;
  max-width: 700px;
  display: grid;
  place-items: center;
}

.welcome {
  opacity: 0;
  font-size: 2.5rem;
  animation: fadeIn-Out 5s 1s ease-in forwards;
}

// COMPONENT STYLES

// || chooseCeremony

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.chooseCeremony__container {
  // border: solid 1px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.button__container {
  display: flex;
  // border: solid 1px #fff;
  gap: 1.6em;
}

.cerBtn {
  font-size: 1rem;
  padding: 1em;
  border-radius: 30px;
  border: solid 2px #fff;
  background-color: transparent;
  color: #fff;
  transition: 0.2s all;
}

.cerBtn:hover,
.cerBtn:focus {
  background-color: #1a1a1a;
  cursor: pointer;
}

.cerBtn + .cerBtn {
  margin-right: 1em;
}

conjuration-input {
  width: 100%;
}

participant-input {
  width: 65%;
}
